<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userservice.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.userservice.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="hashcode" column="hashCode" jdbcType="VARCHAR"/>
            <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="MODIFIED_TIME" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,userPassword,
        avatar,hashCode,secretKey,
        CREATE_TIME,MODIFIED_TIME,isDelete,
        token
    </sql>
</mapper>
