<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipfsservice.mapper.IpfsFileMapper">

    <resultMap id="BaseResultMap" type="com.ipfsservice.domain.IpfsFile">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hashcode" column="HashCode" jdbcType="VARCHAR"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
            <result property="fileName" column="fileName" javaType="VARCHAR"/>
            <result property="createTime" column="Create_Time" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="Modified_Time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,HashCode,userId,
        secretKey,Create_Time,Modified_Time,fileName,
        isDelete
    </sql>
</mapper>
